* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  /* background-image: linear-gradient(to right top, #00085c, #0f0865, #1c086d, #280776, #33057e, #281d88, #192c91, #003999, #004a95, #005180, #005465, #005550); */
  background-image: linear-gradient(
    to right top,
    #001739,
    #00385e,
    #005964,
    #007745,
    #638e04
  );
  color: white;
}
a {
  text-decoration: none;
  color: #000000;
  font-size: 19px;
  cursor: pointer;
  padding: 10px 15px;
}
a:hover {
  color: gray;
}
pre {
  margin: 0;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  padding-bottom: 30px;
  position: relative;
}
body:before {
  content: "";
  width: 100%;
  height: 2px;
  background: grey;
  position: absolute;
  top: 40px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.task {
  width: 90%;
  text-align: justify;
  margin: 0 auto;
  padding: 15px;
}
.task a {
  color: #4682b4;
  text-decoration: underline;
  padding: 0;
  transition: 0.7s ease;
}
.task a:hover {
  color: #ffff00;
}
.wrapper h1 {
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
}

.solution {
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  height: fit-content;
  overflow: auto;
  margin-top: 40px;
  margin-left: 5%;
  margin-bottom: 30px;
  resize: vertical;
  background: #272822;
}

button {
  outline: none;
  border: none;
  background: #4682b4;
  color: #ffffff;
  padding: 15px 40px 15px 50px;
  border-radius: 12px;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.7s ease;
  font-size: 15px;
  position: relative;
}
button:hover {
  color: #000000;
  font-size: 17px;
  padding: 14px 50px;
}
button:before {
  content: "▶";
  position: absolute;
  top: 14px;
  left: 20px;
  width: 11px;
  height: 1px;
}
.split-homeworks {
  margin: 50px 0;
}

img {
  width: 90%;
  margin: 50px 0 0 5%;
}
h4 {
  margin-left: 5%;
}
